<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="#!" class="brand-logo black-text">Personal Shopper</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/s/portal" class="waves-effect waves-light btn">Home</a></li>
        <li><a href="/s/dayrecap" class="waves-effect waves-light btn">Recaps</a></li>
        <li><a href="/doLogout" class="waves-effect waves-light btn">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
