<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Personal Shopper</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" class="waves-effect waves-light btn">Home</a></li>
        <li><a href="" class="waves-effect waves-light btn">Items</a></li>
        <li><a href="" class="waves-effect waves-light btn">Cart</a></li>
        <li><a href="" class="waves-effect waves-light btn">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
