<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header.ejs %>
    <title>Registration | Personal Shopper</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="center">Personal Shopper</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s6 offset-s3 center">
          <% if (regError) { %>
          <p><%= regError %><p>
          <% } %>
          <form action="" method="post">
            <input type="text" name="username" placeholder="username" required>
            <br/>
            <input type="password" pattern=".{8,255}" name="password (min. 8 chars)" placeholder="password" required>
            <br/>
            <input type="text" name="first_name" placeholder="first_name">
            <br/>
            <input type="text" name="last_name" placeholder="last_name">
            <br/>
            <input type="text" name="address" placeholder="address">
            <br/>
            <input type="number" min="0" pattern=".{10,13}" name="phone" placeholder="phone">
            <br/>
            <button type="submit" class="btn-large">Register</button>
          </form>
          <br/>
          <a href="/">I've already registered.</a>
        </div>
      </div>
    </div>
    <% include ./partials/footer.ejs %>
  </body>
</html>
